@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animals

<h4>Add a new animal</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Add a new animal" />
}

<p>@Html.ActionLink("Show all items", "Index")</p>